<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      
      <div class="navbar-header">
        <button
          class="navbar-toggle collapsed"
          type="button"
          aria-controls="navbarSupportedContent" 
          aria-expanded="false" 
          aria-label="Toggle Navigation"
          (click)="toggleMenu()">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" [routerLink]="home">
          <strong>{{ title }}</strong>
        </a>
      </div>
      
      <div class="collapse navbar-collapse" [ngClass]="{ show: !collapsed }" id="navbarSupportedContent">
        <ul class="nav navbar-nav">
          <li>
            <a [routerLink]="products" routerLinkActive="active">Products</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</header>